@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #011627;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#name-loading {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

.border-1px-1e2d3d {
  border: 1px solid #1e2d3d;
}

/*  */
#content {
  height: calc(100vh - 108px);
}
